body {
  text-align: center;
  background-image: url('../images/bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #58651a;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-image: url('../images/gameover-bg.png');
  opacity: 0.8;
}

.end {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #58651a;
}

.zelda {
  background-image: url('../images/zelda.png');
  background-size: cover;
}

.link {
  background-image: url('../images/link.jpg');
  background-size: cover;
}

.ganon {
  background-image: url('../images/ganon.jpg');
  background-size: cover;
}

.navi {
  background-image: url('../images/navi.png');
  background-size: cover;
}

.pressed-link {
  box-shadow: 0 0 50px #008250;
}

.pressed-zelda {
  box-shadow: 0 0 50px #e307c9;
}

.pressed-navi {
  box-shadow: 0 0 50px #14c8f6;
}

.pressed-ganon {
  box-shadow: 0 0 50px red;
}
